h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  width: 100px;
  height: 30px;
  background-color: seagreen;
}

.App {
  text-align: center;
}

.character-card {
  border: 1px solid rebeccapurple;
  background-color: rgb(205, 190, 220);
  max-width: 50%;
  margin: 10px auto 0 auto;
}

.search-div {
  border: 1px solid crimson;
  max-width: 40%;
  margin: 10px auto 0 auto;
}